# Node
node_modules/
npm-debug.log*
yarn.lock

# Netlify
.netlify/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build artifacts (caso use futuramente)
dist/
build/
